* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ///////////////////////////////////// */
/* general */

body {
  font-family: "PT Sans", sans-serif;
}
:root {
  --maincolor: #7b5244;
  --subcolor: #333;
}
.container {
  width: 80%;
  margin: auto;
}
.p-y {
  padding: 40px 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}
/* ////////////////////////////////// */
/* header */
header {
  padding: 25px 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content img {
  max-width: 180px;
  flex: 1;
}
.header-content nav > ul {
  flex: 3;
}

header .header-content nav > ul > li,
header .header-content .login > ul > li {
  display: inline-block;
}
.dropdown-menu ul li {
  display: block;
}
.header-content nav > ul > li > a {
  padding: 10px 35px;
  font-weight: bold;
  font-size: 18px;
  color: rgb(25, 4, 121);
}

.header-content .login-list {
  flex: 1;
  text-align: right;
}
.header-content .login-list li i {
  padding: 0 8px;
}
.login-list:last-child {
  position: relative;
}

.header-content .login ul li:last-child i::after {
  position: absolute;
  content: "0";
  background: var(--maincolor);
  border-radius: 50%;
  color: #fff;
  padding: 2px;
  font-size: 20px;
  bottom: 7px;
  right: 60px;
}
.linked-item {
  position: relative;
}
.linked-item::before {
  border-width: 0 4px;
  width: 95%;
  height: 100%;
  transform: scale3d(1, 0, 1);
}
.linked-item::after {
  border-width: 4px 0;
  width: 100%;
  height: 90%;
  transform: scale3d(0, 0, 0);
}
.linked-item::before,
.linked-item::after {
  position: absolute;
  content: "";
  transition: transform 0.3s;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: var(--subcolor);
}
.linked-item:hover::before,
.linked-item:hover::after {
  transform: scale3d(1, 1, 1);
}

/* /////////////////////////////////////////////////////// */
/* drop down */
.list-item .dropdown {
  position: relative;
}

.dropdown-menu,
.hw,
.hw2,
.hw3 {
  position: absolute;
  top: 59px;
  background: #fff;
  left: -2px;
  height: 331px;
  width: 752px;
  border: 3px solid #42312a;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity.5s, visibility.5s;
  z-index: 1;
}
.hw {
  width: 200px;
}
.hw2 {
  width: 350px;
}
.hw3 {
  height: 200px;
  width: 500px;
  top: 60px;
  left: -380px;
}
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.dropdown-menu ul {
  flex: 1;
}
.dropdown-menu ul li {
  display: block;
  margin: 30px;
  font-size: 17px;
}
.dropdown-menu ul li a.bord {
  color: #301005;
  border-bottom: 1px solid rgb(226, 210, 165);
}

/* //////////////////////////////////////////////////////////////////// */
/* slider */
section.slider img {
  width: 100%;
}

section.slider .point {
  position: relative;
}
.slider-bollets {
  position: absolute;
  right: 50%;
  top: 94%;
  visibility: hidden;
  opacity: 0;
}
section.slider .point:hover .slider-bollets {
  visibility: visible;
  opacity: 1;
}
.slider-bollets li {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin: 10px 10px;
  border-radius: 50%;
}
.slider-bollets li.active {
  background-color: #333;
}
/* ////////////////////////////////////////////// */
/* /category */
.head {
  text-align: center;
}
.head h2 {
  font-size: 35px;
  margin-bottom: 15px;
}
.head .line {
  background: var(--maincolor);
  height: 4px;
  display: block;
  width: 70px;
  margin: auto;
  transition: width 0.5s;
}
.head:hover .line {
  width: 130px;
}
/* //////////////////////// */
.categ-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
  position: relative;
  margin-bottom: 120px;
}
.categ-item img {
  width: 100%;
}
.categ-item {
  position: relative;
}
.icon {
  position: absolute;
  background: var(--maincolor);
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5, visibility 0.5s;
}
.categ-item:hover .icon {
  visibility: visible;
  opacity: 1;
}
.categ-bollets {
  position: absolute;
  right: 50%;
  top: 105%;
}
.categ-bollets li {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: rgb(17, 16, 16);
  margin: 10px 10px;
  border-radius: 50%;
  transform: scale(1, 1);
  transition: transform 0.5s;
}
.categ-bollets li:hover {
  background: var(--maincolor);
  transform: scale(1.5, 1.5);
}
/* //////////////////////////////////// */
/* descount-section */
.descount-items {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  margin-bottom: 50px;
}
.descount-img img {
  width: 100%;
}

.descount-img {
  position: relative;
  margin: 0 0 0 30px;
  transition: transform 0.5s;
}
.descount-img:hover {
  transform: scale(1.1);
}
.on-img {
  left: 27px;
  position: absolute;
  top: 50px;
}
.desc2 {
  margin-bottom: 40px;
  line-height: 1.5;
  font-size: 20px;
}
.descount-desc {
  background: rgb(247, 243, 243);
  padding: 30px;
}
.descount-desc .top {
  position: relative;
  margin-bottom: 20px;
}
.descount-desc .top i {
  color: var(--maincolor);
  position: absolute;
}
.descount-desc .line {
  background: var(--maincolor);
  height: 4px;
  display: inline-block;
  width: 80px;
}
.tit1,
.tit2 {
  padding: 5px 10px 0 83px;
}
.bot {
  text-align: end;
}
/* ////////////////////////////// */
/* sprites */
.sprites {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.sprit-item {
  flex: 1;
  text-align: center;
  border-right: 2px solid var(--maincolor);
}
.sprit-item:last-child {
  border: none;
}
.sprit-item span {
  color: grey;
  font-size: 15px;
}
.sprite-icon {
  background-image: url(../images/service-icon.png);
  height: 60px;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.sprite-icon-1 {
  background-position: center 5px;
}
.sprit-item:hover .sprite-icon-1 {
  background-position: center -86px;
}
.sprite-icon-2 {
  background-position: center -180px;
}
.sprit-item:hover .sprite-icon-2 {
  background-position: center -273px;
}
.sprite-icon-3 {
  background-position: center -366px;
}
.sprit-item:hover .sprite-icon-3 {
  background-position: center -455px;
}
.sprite-icon-4 {
  background-position: center -549px;
}
.sprit-item:hover .sprite-icon-4 {
  background-position: center -639px;
}
.sprite-icon-5 {
  background-position: center -734px;
}
.sprit-item:hover .sprite-icon-5 {
  background-position: center -820px;
}
/* ////////////////////////////////////////////////// */
/* products */
.product-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  margin: 0px 350px 50px;
}
.product-list li a {
  color: var(--maincolor);
  font-weight: bold;
}
/* ///////////////////////////// */
.product-img {
  position: relative;
}
.overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  /* transform: scale(0, 0);
  transition: transform 0.2s; */
}
.overlay-img img {
  width: 100%;
}
.overlay-list li {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: var(--maincolor);
}
.overlay-list li a i {
  color: #fff;
  line-height: 50px;
  margin: 0 10px;
}
.overlay-img ul {
  position: absolute;
  top: 50%;
  transform: translate(40%, -50%);
}
.product-img:hover .overlay-img {
  visibility: visible;
  opacity: 1;
  /* transform: scale(1, 1); */
  opacity: 0.8;
}
.product-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}
.product-info {
  margin-right: 250px;
}
.product-info i.act {
  color: #dbdb07;
}
.product-info span {
  display: block;
  font-size: 20px;
  margin: 7px 0;
}
/* ////////////////////////////////////////////////// */
/* events */
.vedio {
  position: relative;
}
.vedio img {
  width: 100%;
}
.vedio .img-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.event-item {
  display: grid;
  grid-template-columns: 25% 61%;
  grid-gap: 14%;
}
.desc2 {
  margin-bottom: 40px;
  line-height: 1.5;
  font-size: 20px;
}
.event-desc {
  background: rgb(247, 243, 243);
  padding: 30px;
}
.event-desc .top {
  position: relative;
  margin-bottom: 20px;
}
.event-desc .top i {
  color: var(--maincolor);
  position: absolute;
}
.event-desc .line {
  background: var(--maincolor);
  height: 4px;
  display: inline-block;
  width: 80px;
}
.tit1,
.tit2 {
  padding: 5px 10px 0 83px;
}
.bot {
  text-align: end;
}
/* //////////////////////////////////////////////////// */
/* clients */
.clients {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}
/* ///////////////////////////////// */
/* footer */
footer {
  background: black;
}
.phone-app p {
  color: #fff;
  margin: 40px 0;
  line-height: 2.2;
}
.footer-tit1,
.footer-tit2,
.footer-tit3 {
  color: #fff;
  margin-bottom: 30px;
}
.info-account ul li a {
  color: #fff;
}
.info-account ul li,
.myaccount ul li {
  margin-bottom: 25px;
}
.social-media .footer-tit3,
h5,
.footer-i {
  color: #fff;
  margin-bottom: 45px;
}
/* .social-media, */
h5 {
  border-bottom: 2px solid blanchedalmond;
}
h5 {
  display: inline-block;
  width: 70%;
  padding-bottom: 10px;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px 50px 0px;
}
.phone-app {
  flex: 1;
  margin-right: 80px;
  margin-top: 100px;
}
.info-account {
  flex: 1;
  margin-top: 100px;
}
.social-media {
  flex: 1;
  margin-top: 100px;
}
.info-account {
  display: flex;
}
.information,
.myaccount {
  flex: 1;
}
.copyright {
  color: #fff;
  padding: 20px 0;
}
.copy-span {
  color: aqua;
}
.social-media-liast li {
  display: inline;
  margin-right: 26px;
}
